.f-container{
  justify-content: space-between;
}

.f-left{
  gap: 1.5rem;
}
.f-nav{
  gap: 1.5rem;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.f-nav>:nth-child(1):hover{
  color: var(--blue);
}
.f-nav>:nth-child(2):hover{
  color: var(--blue);
}
.f-nav>:nth-child(3):hover{
  color: var(--blue);
}
.f-nav>:nth-child(4):hover{
  color: var(--blue);
}

@media(max-width:680px){
  .f-container{
    justify-content: center;
  }
  .f-container>div{
    align-items: center;
    
  }
}